*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#calculator{
    display: flex;
    flex-wrap: wrap;
    background-color: rgb(233, 231, 231);
    width: 75vh;
    height: 90vh;
    margin: 2% auto;
    padding: 0;
    box-sizing: border-box;
}
/*-----------HEADER-----------*/
#header{
    display: flex;
    width: 100%;
    height: 5%;
}
#calcTitle{
    width: 65%;
    padding-left: 2%;
    font-size: 21pt;
}
#historyTitle{
    margin-left: 18%;
    width: fit-content;
    border-bottom: 3px solid rgb(62, 92, 226);
    font-size: 21pt;
}
/*-----------ARITH & DISPLAY-----------*/
#type_btn-Wrapper{
    width: 65%;
}
/*BUTTONS*/
#btnFrame-Wrapper{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 70%;
    padding: 0 0 1% 1%;
}
.grey-btn{
    width: 24.4%;
    height: auto;
    margin: 0.3%;
    background-color: rgb(240, 240, 240);
    border: 1px solid rgb(239, 237, 237);
}
.number-btn, #posNeg{
    width: 24.4%;
    height: auto;
    margin: 0.3%;
    background-color: white;
    border: 1px solid white;
}
.equal-btn{
    width: 24.4%;
    height: auto;
    margin: 0.3%;
    background-color: rgb(168, 189, 246);
    border: 1px solid rgb(168, 189, 246);
}
/*DISPLAY*/
#typeFrame-Wrapper{
    outline: solid;
    text-align: right;
    font-size: 20pt;
    height: 30%;
    width: calc(100% - 5%);
    padding-left: 5%;
    margin-left: 5%;
    overflow-x: auto;
    white-space: nowrap;
}
#display-equation{
    font-size: 12pt;
}
/*-----------HISTORY-----------*/
#historyFrame-Wrapper{
    padding: 5% 0 0 5%;
    width: 35%;
    height: 95%;
}
